# Use this to define your project root
fido_project_root=
root_path=${fido_project_root}/fido

metis_path=
metis_bin=gpmetis
metis_graph_files=${root_path}/temp_graphs/
graphml_graph_files=${root_path}/temp_graphs/
part_dir=${root_path}/temp_graphs/
#metis_graphml1=/home/mushi11/comm_pattern_output/message_race_1619711571/msg_size_512/n_procs_10/n_iters_1/run_000/event_graph.graphml
#metis_graphml2=/home/mushi11/comm_pattern_output/message_race_1619711571/msg_size_512/n_procs_10/n_iters_1/run_001/event_graph.graphml

g_align=${root_path}/parallel_graph_align/graph_alignment
deg_count=${root_path}/parallel_graph_align/node_deg
static_assign=${root_path}/parallel_graph_align/static_assigner
nk_conversion_script=${root_path}/parallel_graph_align/nk_convert_graphml_metis.py
igraph_conversion_script=${root_path}/parallel_graph_align/igraph_convert_txt_graphml.py

orbit_file=${root_path}/orbit_list.txt
time_keeping=${root_path}/parallel_graph_align/time_results.txt






